table, th, td {
    border: 1px solid black;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  body {
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    margin: 0;
    padding: 0;
  }
  
  /* Navigation */
  
  .active {
    color: #88CCF1;
  }
  
  /* Table */
  
  table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
  }
  
  thead th {
    background-color: #141E30;
    color: white;
    font-family: 'Fjalla one', serif;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    width: 33.3333%;
  }
  
  .search {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    color: #AAA;
    padding: 20px;
    margin: 50px auto 0px auto;
    width: 77%;
  }
h1 {
    color: #FFF;
    text-align: center;
    text-shadow: #FFF 1px 0 10px;
}
  
a {
    color: blue;
}

a:hover {
    color: #35577D;
}

a:visited {
    color: blueviolet;
}

input {
    text-align: center;
}

.center {
    text-align: center;
}

